{% extends 'base.html' %}

{% block title %}Главная{% endblock %}

{% block content %}
<h1>Добро пожаловать в Shopflowers!</h1>
<p>Добро пожаловать в интернет-магазин цветов!</p>
<div class="btn-container">
    <a href="/products/" class="btn">Перейти к ассортименту</a>
</div>

<div class="auth-container">
    {% if user.is_authenticated %}
        <p>Привет, {{ user.username }}!</p>
        <a href="{% url 'account_logout' %}" class="btn">Выйти</a>
    {% else %}
        <a href="{% url 'account_login' %}" class="btn">Войти</a>
        <a href="{% url 'account_signup' %}" class="btn">Регистрация</a>
    {% endif %}
</div>
{% endblock %}