{% extends 'base.html' %}

{% block title %}Ассортимент{% endblock %}

{% block content %}
<h1>Ассортимент цветов</h1>
<div class="product-grid">
    {% for product in products %}
    <div class="product-card">
        <img src="{{ product.image.url }}" alt="{{ product.name }}" class="product-image">
        <h2 class="product-name">{{ product.name }}</h2>
        <p class="product-price">{{ product.price }} руб.</p>
        <a href="{% url 'add_to_cart' product.id %}" class="btn btn-buy">Купить</a>
    </div>
    {% empty %}
    <p>Нет доступных цветов.</p>
    {% endfor %}
</div>
{% endblock %}